<span style='color: #000'>71 frames</span>	<span style='color: #900'>4,864 KB</span>	<span style='color: #090'>282.41 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />